.component-wrapper {
    box-sizing: border-box;
    width: 100%;
    height: 95%;
    border-radius: 12px;
    padding: 15px;
}

.title-container {
    width: 100%;
}

.knob-wrapper-down {
    padding-top: 30px;
    position: relative;
}